parameters:
    level: max

    paths:
        - src

    excludePaths:
        - src/LineChart.view.php

    tmpDir: build/phpstan

    checkMissingIterableValueType: true

    ignoreErrors:
        # - '#example#'
